commands:
   01-wget:
      command: "wget -q https://www.scalyr.com/scalyr-repo/stable/latest/scalyr-repo-bootstrap-1.2.1-1.alt.noarch.rpm"
   02-removeBootstrap:
      command: "yum remove -y scalyr-repo scalyr-repo-bootstrap  # Remove any previous repository definitions, if any."
   03-installBootstrap:
      command: "yum install -y --nogpgcheck scalyr-repo-bootstrap-1.2.1-1.alt.noarch.rpm"
   04-installScalyrRepo:
      command: "yum install -y  scalyr-repo"
   05-installScalyrAgent2:
      command: "yum install -y scalyr-agent-2"
#   06-agentFile:
#      command: "wget https://s3.amazonaws.com/repost-prod-public/scalyr/staging/worker.json -O /etc/scalyr-agent-2/agent.json"
#   06-agentFile:
#      command: "mv .ebextensions/scalyr.json /etc/scalyr-agent-2/agent.json"
   07-start:
      command: "scalyr-agent-2 restart"
container_commands:
   08-replace-config:
      command: cp .ebextensions/scalyr.json /etc/scalyr-agent-2/agent.json